div{
    background-color: lightblue;
    width: 350px;
    height: 300px;

}

#blok-1{
    background-color: lightcyan;
}

#blok-2{
}

header{
    display: flex;
}

H1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 150pt;
}