#eerste-titel {
    color: rgb(34, 20, 26);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
}

div {
    background-color: lightcyan;
    width: 150px;
    height: 100px;
    font-size: large;
    border-radius: 30px;
}

header {
    display: flex;
    justify-content: space-between;
}

#blok-rechts {
    flex-grow: 1;
}