h1 {
    color: rgb(34, 20, 26);
    background-color: antiquewhite;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;


}

div {
    background-color: blueviolet;
    width: 400px;
    height: 300px;
}